In [1]:
import pandas as pd
data = pd.read_csv("C:\\Intern\\Data\\bnpl_user_dataset_realistic_labels.csv")

In [2]:
df = data.copy()

In [3]:
df.head()

,user_id,age,monthly_income,orders_per_month,avg_order_amount,num_active_bnpl_plans,total_bnpl_amount,average_emi,total_monthly_emi,dti_ratio,bnpl_utilization_ratio,repayment_delay_count,last_payment_delay_days,on_time_repayment_rate,spending_volatility,impulse_purchase_count,risk_label
0,1,56,164395,1,4146,1,4146,4146.0,4146.0,0.03,0.03,2,2,0.6,0.34,1,Risky
1,2,46,33019,0,18661,0,0,0.0,0.0,0.00,0.00,0,2,1.0,0.12,4,Low
2,3,32,90426,2,12926,2,25852,12926.0,25852.0,0.29,0.29,1,3,0.8,0.10,1,Medium
3,4,25,55863,1,16930,1,16930,16930.0,16930.0,0.30,0.30,1,23,0.8,0.20,1,Medium
4,5,38,126023,3,16172,0,48516,0.0,0.0,0.00,0.38,0,29,1.0,0.18,2,Medium

In [4]:
df.drop(columns=['age', 'orders_per_month', 'avg_order_amount', 'total_monthly_emi', 'dti_ratio', 'repayment_delay_count', 'last_payment_delay_days', 'on_time_repayment_rate','spending_volatility','impulse_purchase_count', 'risk_label', 'bnpl_utilization_ratio'
                 ], inplace=True)

In [5]:
df[df['average_emi'] > df['monthly_income']]

,user_id,monthly_income,num_active_bnpl_plans,total_bnpl_amount,average_emi
17,18,124708,1,130214,130214.0
19,20,24343,1,43808,43808.0
63,64,54531,1,78800,78800.0
269,270,37337,1,80227,80227.0
323,324,48065,1,58750,58750.0
...,...,...,...,...,...
4654,4655,15364,3,48438,16146.0
4678,4679,42213,1,53382,53382.0
4905,4906,25778,1,33542,33542.0
4942,4943,16359,1,23253,23253.0
4954,4955,59458,1,75972,75972.0

In [6]:
df = df[df['average_emi'] < df['monthly_income']]

In [8]:
df['bnpl_income_ratio'] = df['average_emi']/df['monthly_income']

In [9]:
df[(df['bnpl_income_ratio']>=0.3) & (df['bnpl_income_ratio']<=0.6)]

,user_id,monthly_income,num_active_bnpl_plans,total_bnpl_amount,average_emi,bnpl_income_ratio
3,4,55863,1,16930,16930.0,0.303063
9,10,37908,1,14344,14344.0,0.378390
20,21,91173,1,29748,29748.0,0.326281
39,40,65113,2,40203,20101.5,0.308717
40,41,67999,3,68466,22822.0,0.335623
...,...,...,...,...,...,...
4932,4933,16509,2,19412,9706.0,0.587922
4959,4960,111188,1,50664,50664.0,0.455661
4961,4962,105570,2,68080,34040.0,0.322440
4965,4966,113375,2,71160,35580.0,0.313826
4973,4974,60708,2,41451,20725.5,0.341397

In [ ]:
def create_target(ratio):
    if ratio <=0.21:
        return 'Low Risk'
    elif 0.3 < ratio <= 0.6:
        return 'Medium Risk'
    else:
        return 'Risky'

In [11]:
df

,user_id,monthly_income,num_active_bnpl_plans,total_bnpl_amount,average_emi,bnpl_income_ratio
0,1,164395,1,4146,4146.0,0.025220
1,2,33019,0,0,0.0,0.000000
2,3,90426,2,25852,12926.0,0.142946
3,4,55863,1,16930,16930.0,0.303063
4,5,126023,0,48516,0.0,0.000000
...,...,...,...,...,...,...
4995,4996,89877,2,26134,13067.0,0.145388
4996,4997,92870,1,17225,17225.0,0.185474
4997,4998,96371,2,54368,27184.0,0.282077
4998,4999,172620,0,0,0.0,0.000000
4999,5000,115970,1,2089,2089.0,0.018013

In [12]:
df['Financial_Stress'] = df['bnpl_income_ratio'].map(create_target)

In [13]:
rows_drop = df[df['num_active_bnpl_plans']<=1].sample(frac=0.31, random_state=42).index
df = df.drop(rows_drop)

In [ ]:
df.drop(columns=['user_id'], inplace=True)

In [20]:
df.insert(0, 'user_id', ['USR_' + str(i).zfill(5) for i in range(1, len(df) + 1)])

In [21]:
df = df.drop(
    df[(df['average_emi'] == 0) & (df['total_bnpl_amount'] > 0)].index
)

In [22]:
df

,user_id,monthly_income,num_active_bnpl_plans,total_bnpl_amount,average_emi,bnpl_income_ratio,Financial_Stress
1,USR_00001,33019,0,0,0.0,0.000000,Low Risk
2,USR_00002,90426,2,25852,12926.0,0.142946,Low Risk
3,USR_00003,55863,1,16930,16930.0,0.303063,Medium Risk
5,USR_00004,156355,1,16287,16287.0,0.104167,Low Risk
6,USR_00005,164351,0,0,0.0,0.000000,Low Risk
...,...,...,...,...,...,...,...
4994,USR_03506,27975,2,11300,5650.0,0.201966,Low Risk
4995,USR_03507,89877,2,26134,13067.0,0.145388,Low Risk
4996,USR_03508,92870,1,17225,17225.0,0.185474,Low Risk
4997,USR_03509,96371,2,54368,27184.0,0.282077,Risky
4999,USR_03510,115970,1,2089,2089.0,0.018013,Low Risk

In [23]:
import string
import secrets
def generate_secure_password(length=12):
    """
    Generates a secure random password of a specified length.
    """
    alphabet = string.ascii_letters + string.digits + string.punctuation
    password = ''.join(secrets.choice(alphabet) for i in range(length))
    
    return password

df['password'] = [generate_secure_password(length=12) for _ in range(len(df))]

In [32]:
df[df['bnpl_income_ratio']>0.19]

,user_id,monthly_income,num_active_bnpl_plans,total_bnpl_amount,average_emi,bnpl_income_ratio,Financial_Stress,password
3,USR_00003,55863,1,16930,16930.0,0.303063,Medium Risk,ozv7uK__tbH{
20,USR_00015,91173,1,29748,29748.0,0.326281,Medium Risk,X3`ca\)ISAHI
35,USR_00026,43807,2,19254,9627.0,0.219759,Risky,r}d^5^WTwkr#
38,USR_00028,18558,2,36180,18090.0,0.974782,Risky,~>3~3NO}3wf-
39,USR_00029,65113,2,40203,20101.5,0.308717,Medium Risk,R<8X@Dj8m80=
...,...,...,...,...,...,...,...,...
4972,USR_03487,77451,2,38408,19204.0,0.247950,Risky,~lswqbMl7Udy
4973,USR_03488,60708,2,41451,20725.5,0.341397,Medium Risk,'{#B`DyA_7=D
4991,USR_03504,112151,2,51669,25834.5,0.230355,Risky,N(n)N7!*^0QR
4994,USR_03506,27975,2,11300,5650.0,0.201966,Low Risk,"&D4u""""XW4RL|"
4997,USR_03509,96371,2,54368,27184.0,0.282077,Risky,G-=3`ClPy>A*

In [43]:
def create_deplayed(data):
    if data >0.19:
        return 1
    return 0

df['Emi_delayed'] = df['bnpl_income_ratio'].map(create_deplayed)

In [44]:
df.drop(columns=['Financial_Stress']).to_csv('final_data.csv', index=False)

In [52]:
(df=='N').any()

user_id                  False
monthly_income           False
num_active_bnpl_plans    False
total_bnpl_amount        False
average_emi              False
bnpl_income_ratio        False
Financial_Stress         False
password                 False
Emi_delayed              False
dtype: bool

In [54]:
data = pd.read_csv('final_data.csv')
data

,user_id,monthly_income,num_active_bnpl_plans,total_bnpl_amount,average_emi,bnpl_income_ratio,password,Emi_delayed
0,USR_00001,33019,0,0,0.0,0.000000,QDt^$+8W-)ys,0
1,USR_00002,90426,2,25852,12926.0,0.142946,uzwoI#Q^o.<8,0
2,USR_00003,55863,1,16930,16930.0,0.303063,ozv7uK__tbH{,1
3,USR_00004,156355,1,16287,16287.0,0.104167,#okmvF8^!dTe,0
4,USR_00005,164351,0,0,0.0,0.000000,S6z(m(@86`Qu,0
...,...,...,...,...,...,...,...,...
3505,USR_03506,27975,2,11300,5650.0,0.201966,"&D4u""""XW4RL|",1
3506,USR_03507,89877,2,26134,13067.0,0.145388,uX!H3v6o`Q#i,0
3507,USR_03508,92870,1,17225,17225.0,0.185474,Kj9(^y_B_4dC,0
3508,USR_03509,96371,2,54368,27184.0,0.282077,G-=3`ClPy>A*,1
3509,USR_03510,115970,1,2089,2089.0,0.018013,fLDSG=L7h\;3,0

In [56]:
df.drop(columns=['password', 'user_id'], inplace=True)

In [57]:
df.to_csv('model_data.csv', index=False)

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3510 entries, 1 to 4999
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   monthly_income         3510 non-null   int64
 1   num_active_bnpl_plans  3510 non-null   int64
 2   total_bnpl_amount      3510 non-null   int64
 3   average_emi            3510 non-null   float64
 4   bnpl_income_ratio      3510 non-null   float64
 5   Financial_Stress       3510 non-null   object
 6   Emi_delayed            3510 non-null   int64
dtypes: float64(2), int64(4), object(1)
memory usage: 219.4+ KB