In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
import numpy as np

In [5]:
df = pd.read_csv('dataset.csv')

In [6]:
df['Churn'].value_counts()

Churn
0    9364
1    1896
Name: count, dtype: int64

In [7]:
df.isnull().sum()

AccountID                    0
Churn                        0
Tenure                     102
City_Tier                  112
CC_Contacted_LY            102
Payment                    109
Gender                     108
Service_Score               98
Account_user_count         112
account_segment             97
CC_Agent_Score             116
Marital_Status             212
rev_per_month              102
Complain_ly                357
rev_growth_yoy               0
coupon_used_for_payment      0
Day_Since_CC_connect       357
cashback                   471
Login_device               221
dtype: int64

In [8]:
df.head()

,AccountID,Churn,Tenure,City_Tier,CC_Contacted_LY,Payment,Gender,Service_Score,Account_user_count,account_segment,CC_Agent_Score,Marital_Status,rev_per_month,Complain_ly,rev_growth_yoy,coupon_used_for_payment,Day_Since_CC_connect,cashback,Login_device
0,20000,1,4,3.0,6.0,Debit Card,Female,3.0,3,Super,2.0,Single,9,1.0,11,1,5,160,Mobile
1,20001,1,0,1.0,8.0,UPI,Male,3.0,4,Regular Plus,3.0,Single,7,1.0,15,0,0,121,Mobile
2,20002,1,0,1.0,30.0,Debit Card,Male,2.0,4,Regular Plus,3.0,Single,6,1.0,14,0,3,NaN,Mobile
3,20003,1,0,3.0,15.0,Debit Card,Male,2.0,4,Super,5.0,Single,8,0.0,23,0,3,134,Mobile
4,20004,1,0,1.0,12.0,Credit Card,Male,2.0,3,Regular Plus,5.0,Single,3,0.0,11,1,3,130,Mobile

In [ ]:
plt.figure(figsize=(7, 5))
ax = sns.countplot(data=df, x='Payment',palette = "Set2")

for p in ax.patches:
    ax.annotate(
        f'{int(p.get_height())}',
        (p.get_x() + p.get_width() / 2., p.get_height()),
        ha='center',
        va='bottom'
    )

plt.show()

# Mostly people use the Debit Card option to pay and UPI is very less
# Also contains the NULL values

In [10]:
# Check the NULL values
df[df['Payment'].isna()==True]

,AccountID,Churn,Tenure,City_Tier,CC_Contacted_LY,Payment,Gender,Service_Score,Account_user_count,account_segment,CC_Agent_Score,Marital_Status,rev_per_month,Complain_ly,rev_growth_yoy,coupon_used_for_payment,Day_Since_CC_connect,cashback,Login_device
39,20039,0,0,1.0,9.0,NaN,M,3.0,4,Regular Plus,3.0,Married,2,1.0,15,0,1,126,&&&&
49,20049,0,18,3.0,10.0,NaN,F,1.0,3,Super,5.0,Married,5,1.0,11,0,3,150,&&&&
75,20075,0,0,1.0,6.0,NaN,M,2.0,4,Super,5.0,Divorced,6,0.0,19,0,0,143,&&&&
143,20143,0,18,1.0,26.0,NaN,M,3.0,3,Super Plus,2.0,Divorced,1,1.0,14,0,10,235,&&&&
427,20427,0,29,1.0,15.0,NaN,M,2.0,3,Super Plus,2.0,Divorced,8,0.0,11,0,1,211,&&&&
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10593,30593,0,8,1.0,16.0,NaN,M,3.0,5,Regular Plus,1.0,Married,9,0.0,19,1,1,162,&&&&
10831,30831,0,2,3.0,16.0,NaN,M,3.0,4,Super,5.0,Single,2,0.0,21,1,4,216,&&&&
11081,31081,1,1,1.0,19.0,NaN,M,3.0,4,Super,5.0,Single,5,0.0,16,1,9,169,&&&&
11130,31130,0,10,3.0,24.0,NaN,F,4.0,5,Super,3.0,Married,4,1.0,15,1,8,186,&&&&
11242,31242,1,14,3.0,13.0,NaN,M,4.0,4,Super,3.0,Married,11,0.0,13,2,2,197,&&&&

In [11]:
df['Payment'] = df['Payment'].fillna('Not_used')

In [ ]:
plt.figure(figsize=(7, 5))
ax = sns.countplot(data=df, x='Login_device',palette = "Set2")

for p in ax.patches:
    ax.annotate(
        f'{int(p.get_height())}',
        (p.get_x() + p.get_width() / 2., p.get_height()),
        ha='center',
        va='bottom'
    )

plt.show()

# Mostly login device are from Mobile and there is unknown device also

# In Login Device I got Null Values and Unknown Login Devices so I Replace this '&&&&' with Computer Login Device. Basically to balance or increase the COmputer Login. 
# I replace the NULL values with the Computer Device

In [13]:
df['Login_device'] = df['Login_device'].replace('&&&&', 'Computer')
df['Login_device'].replace(np.nan, 'Computer', inplace=True)

C:\Users\PC\AppData\Local\Temp\ipykernel_19516\1220111812.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Login_device'].replace(np.nan, 'Computer', inplace=True)

In [ ]:
plt.figure(figsize=(7, 5))
ax = sns.countplot(data=df, x='Login_device',palette = "Set2")

In [ ]:
df[df['cashback'].isna()]
# 471 rows are filled with NaN

# Cashback Column has NULL values and also contain '$' sign and also I checked out the NaN values, there are 471 rows and also remove the '&' sign and last fill with NaN
 # After the analysis, I filled the those NULL values with the mean.

In [16]:
df[df['cashback']=='$']

,AccountID,Churn,Tenure,City_Tier,CC_Contacted_LY,Payment,Gender,Service_Score,Account_user_count,account_segment,CC_Agent_Score,Marital_Status,rev_per_month,Complain_ly,rev_growth_yoy,coupon_used_for_payment,Day_Since_CC_connect,cashback,Login_device
440,20440,0,0,1.0,16.0,Credit Card,Male,3.0,2,Regular Plus,3.0,Single,2,0.0,18,1,2,$,Mobile
1257,21257,0,4,1.0,9.0,Credit Card,Male,2.0,3,Regular +,5.0,Married,+,NaN,13,0,3,$,Computer

In [17]:
df['cashback'] = df['cashback'].replace('$', np.nan)

In [18]:
from sklearn.impute import SimpleImputer
import numpy as np
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
df[['cashback']] = imputer.fit_transform(df[['cashback']])

In [19]:
df['cashback'] = df['cashback'].round(2)

In [20]:
cashback_max = df['cashback'].max()
cashback_min = df['cashback'].min()
cashback_average = df['cashback'].sum()/len(df['cashback'])

print(f'Maximum Cashback received: {cashback_max}\n Minimum Cashback received: {cashback_min} \n Average cashback received: {cashback_average.round(2)}')

Maximum Cashback received: 1997.0
 Minimum Cashback received: 0.0
 Average cashback received: 196.24

- After analysing the cashback we know around 3318 customers received the cashback more than the Average CashBack.
- In cashback, Only 1 customer received the highest cashback which is '1997'

In [21]:
df[df['cashback']>cashback_average]

,AccountID,Churn,Tenure,City_Tier,CC_Contacted_LY,Payment,Gender,Service_Score,Account_user_count,account_segment,CC_Agent_Score,Marital_Status,rev_per_month,Complain_ly,rev_growth_yoy,coupon_used_for_payment,Day_Since_CC_connect,cashback,Login_device
2,20002,1,0,1.0,30.0,Debit Card,Male,2.0,4,Regular Plus,3.0,Single,6,1.0,14,0,3,196.24,Mobile
10,20010,1,4,NaN,18.0,Cash on Delivery,F,2.0,3,Regular,3.0,Divorced,2,0.0,12,9,8,295.00,Mobile
21,20021,1,20,1.0,29.0,Credit Card,Female,3.0,3,HNI,2.0,Divorced,2,0.0,12,11,6,203.00,Mobile
23,20023,1,0,3.0,26.0,Debit Card,Female,3.0,5,Super,3.0,Divorced,4,1.0,11,1,2,196.24,Mobile
24,20024,1,14,1.0,14.0,Debit Card,Male,2.0,5,HNI,2.0,Single,3,0.0,15,0,3,207.00,Computer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11242,31242,1,14,3.0,13.0,Not_used,M,4.0,4,Super,3.0,Married,11,0.0,13,2,2,197.00,Computer
11251,31251,1,14,3.0,37.0,E wallet,Male,3.0,5,HNI,5.0,Married,9,1.0,14,3,NaN,241.00,Mobile
11252,31252,0,13,3.0,33.0,E wallet,Female,3.0,NaN,Super Plus,1.0,Married,4,0.0,12,4,7,252.00,Mobile
11253,31253,0,5,1.0,17.0,Credit Card,Male,4.0,4,Super,5.0,Single,3,0.0,20,2,8,227.00,Computer
11256,31256,0,13,1.0,19.0,Credit Card,Male,3.0,5,HNI,5.0,Married,7,0.0,16,1,8,227.00,Mobile

In [22]:
df[df['cashback']==1997]

,AccountID,Churn,Tenure,City_Tier,CC_Contacted_LY,Payment,Gender,Service_Score,Account_user_count,account_segment,CC_Agent_Score,Marital_Status,rev_per_month,Complain_ly,rev_growth_yoy,coupon_used_for_payment,Day_Since_CC_connect,cashback,Login_device
4160,24160,1,5,3.0,7.0,Debit Card,NaN,4.0,4,Super,1.0,Single,10,1.0,12,1,6,1997.0,Mobile

In [23]:
df.head()

,AccountID,Churn,Tenure,City_Tier,CC_Contacted_LY,Payment,Gender,Service_Score,Account_user_count,account_segment,CC_Agent_Score,Marital_Status,rev_per_month,Complain_ly,rev_growth_yoy,coupon_used_for_payment,Day_Since_CC_connect,cashback,Login_device
0,20000,1,4,3.0,6.0,Debit Card,Female,3.0,3,Super,2.0,Single,9,1.0,11,1,5,160.00,Mobile
1,20001,1,0,1.0,8.0,UPI,Male,3.0,4,Regular Plus,3.0,Single,7,1.0,15,0,0,121.00,Mobile
2,20002,1,0,1.0,30.0,Debit Card,Male,2.0,4,Regular Plus,3.0,Single,6,1.0,14,0,3,196.24,Mobile
3,20003,1,0,3.0,15.0,Debit Card,Male,2.0,4,Super,5.0,Single,8,0.0,23,0,3,134.00,Mobile
4,20004,1,0,1.0,12.0,Credit Card,Male,2.0,3,Regular Plus,5.0,Single,3,0.0,11,1,3,130.00,Mobile

In [24]:
cols = ['account_segment', 'Login_device', 'Payment']
for i in cols:
    result_tab=pd.crosstab(df[i], df['Churn'], normalize='index')*100
    print(f"\nChurn % for {i}:\n")
    display(result_tab)

Churn % for account_segment:

Churn                    0          1
account_segment
HNI              84.441733  15.558267
Regular          92.307692   7.692308
Regular +        74.427481  25.572519
Regular Plus     72.553081  27.446919
Super            89.758740  10.241260
Super +          97.872340   2.127660
Super Plus       94.941634   5.058366

Churn % for Login_device:

Churn                 0          1
Login_device
Computer      80.836421  19.163579
Mobile        84.335739  15.664261

Churn % for Payment:

Churn                     0          1
Payment
Cash on Delivery  74.950690  25.049310
Credit Card       85.787525  14.212475
Debit Card        84.695880  15.304120
E wallet          77.321282  22.678718
Not_used          79.816514  20.183486
UPI               82.603406  17.396594

# After Analysing these columns with Churn[TARGET COLUMN]: ['account_segment', 'Login_device', 'Payment'] 
- we came to know in ACCOUNT SEGMENT 'regular Plus' customer churned out mostly
- In Login Device Mostly Computer user's left the Services
- In Payment the Customer who used 'Cash On Delivery' as a Payment method they mostly leave the service and Also the mostly Customer use this Payment Method[Cash On Delivery]
-

In [25]:
print(f"Check Null Values of City_Tier: {df['City_Tier'].isnull().sum()}")
print(f"Check Null Values of City_Tier: {df['City_Tier'].value_counts()}")

Check Null Values of City_Tier: 112
Check Null Values of City_Tier: City_Tier
1.0    7263
3.0    3405
2.0     480
Name: count, dtype: int64

In [26]:
# I fill the NULL values in City_Tier with 2 because 2 has low values rather than 1, 2, So for making balanced I did this 

df['City_Tier'] = df['City_Tier'].replace(np.nan, 2.0)

In [27]:
df.groupby(df['Churn'])['City_Tier'].value_counts()

Churn  City_Tier
0      1.0          6207
       3.0          2678
       2.0           479
1      1.0          1056
       3.0           727
       2.0           113
Name: count, dtype: int64

In [28]:
df.head()

,AccountID,Churn,Tenure,City_Tier,CC_Contacted_LY,Payment,Gender,Service_Score,Account_user_count,account_segment,CC_Agent_Score,Marital_Status,rev_per_month,Complain_ly,rev_growth_yoy,coupon_used_for_payment,Day_Since_CC_connect,cashback,Login_device
0,20000,1,4,3.0,6.0,Debit Card,Female,3.0,3,Super,2.0,Single,9,1.0,11,1,5,160.00,Mobile
1,20001,1,0,1.0,8.0,UPI,Male,3.0,4,Regular Plus,3.0,Single,7,1.0,15,0,0,121.00,Mobile
2,20002,1,0,1.0,30.0,Debit Card,Male,2.0,4,Regular Plus,3.0,Single,6,1.0,14,0,3,196.24,Mobile
3,20003,1,0,3.0,15.0,Debit Card,Male,2.0,4,Super,5.0,Single,8,0.0,23,0,3,134.00,Mobile
4,20004,1,0,1.0,12.0,Credit Card,Male,2.0,3,Regular Plus,5.0,Single,3,0.0,11,1,3,130.00,Mobile

In [29]:
# Convert column to numeric, invalid values will become NaN
df['Account_user_count'] = pd.to_numeric(df['Account_user_count'], errors='coerce')

In [30]:
# In this there are 315 rows which have maximum Account user

max_account = df.groupby('AccountID')['Account_user_count'].sum()
max_user = max_account.max()

df[df['Account_user_count']==max_user]

,AccountID,Churn,Tenure,City_Tier,CC_Contacted_LY,Payment,Gender,Service_Score,Account_user_count,account_segment,CC_Agent_Score,Marital_Status,rev_per_month,Complain_ly,rev_growth_yoy,coupon_used_for_payment,Day_Since_CC_connect,cashback,Login_device
2820,22820,1,1,1.0,23.0,Debit Card,Female,4.0,6.0,Regular Plus,5.0,Single,3,1.0,23,5,8,164.0,Computer
2824,22824,1,1,1.0,32.0,Debit Card,Male,3.0,6.0,Regular Plus,3.0,Single,3,0.0,13,2,2,148.0,Mobile
2833,22833,1,1,1.0,14.0,Debit Card,Male,4.0,6.0,Super,3.0,Single,3,1.0,25,2,7,186.0,Computer
2835,22835,1,1,3.0,13.0,Debit Card,Male,4.0,6.0,Super,3.0,Divorced,6,1.0,19,7,8,187.0,Mobile
2838,22838,1,1,3.0,27.0,Debit Card,Female,4.0,6.0,Super,3.0,Divorced,5,1.0,12,2,3,171.0,Mobile
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11179,31179,0,5,1.0,15.0,Debit Card,Male,3.0,6.0,Super,5.0,Married,6,0.0,24,7,8,176.0,Computer
11192,31192,0,5,1.0,16.0,Credit Card,Female,3.0,6.0,Regular Plus,1.0,Married,4,1.0,13,1,1,143.0,Mobile
11220,31220,0,12,1.0,19.0,Credit Card,Female,4.0,6.0,HNI,3.0,Married,5,0.0,15,1,12,262.0,Mobile
11237,31237,0,10,3.0,29.0,E wallet,Male,3.0,6.0,Super,1.0,Married,7,0.0,25,6,12,185.0,Computer
11248,31248,0,9,1.0,13.0,Debit Card,Female,4.0,6.0,Regular Plus,1.0,Married,6,0.0,15,2,2,158.0,Mobile

In [31]:
df['Service_Score'].unique()

array([ 3.,  2.,  1., nan,  0.,  4.,  5.])

In [32]:
df.groupby(df['Churn'])['Service_Score'].value_counts()

Churn  Service_Score
0      3.0              4554
       2.0              2701
       4.0              1937
       1.0                77
       0.0                 8
       5.0                 5
1      3.0               936
       2.0               550
       4.0               394
Name: count, dtype: int64

In [33]:
df.head()

,AccountID,Churn,Tenure,City_Tier,CC_Contacted_LY,Payment,Gender,Service_Score,Account_user_count,account_segment,CC_Agent_Score,Marital_Status,rev_per_month,Complain_ly,rev_growth_yoy,coupon_used_for_payment,Day_Since_CC_connect,cashback,Login_device
0,20000,1,4,3.0,6.0,Debit Card,Female,3.0,3.0,Super,2.0,Single,9,1.0,11,1,5,160.00,Mobile
1,20001,1,0,1.0,8.0,UPI,Male,3.0,4.0,Regular Plus,3.0,Single,7,1.0,15,0,0,121.00,Mobile
2,20002,1,0,1.0,30.0,Debit Card,Male,2.0,4.0,Regular Plus,3.0,Single,6,1.0,14,0,3,196.24,Mobile
3,20003,1,0,3.0,15.0,Debit Card,Male,2.0,4.0,Super,5.0,Single,8,0.0,23,0,3,134.00,Mobile
4,20004,1,0,1.0,12.0,Credit Card,Male,2.0,3.0,Regular Plus,5.0,Single,3,0.0,11,1,3,130.00,Mobile

In [34]:
df[df['rev_per_month']=='+']

,AccountID,Churn,Tenure,City_Tier,CC_Contacted_LY,Payment,Gender,Service_Score,Account_user_count,account_segment,CC_Agent_Score,Marital_Status,rev_per_month,Complain_ly,rev_growth_yoy,coupon_used_for_payment,Day_Since_CC_connect,cashback,Login_device
19,20019,1,19,1.0,20.0,Debit Card,Female,3.0,3.0,Regular +,4.0,Divorced,+,NaN,18,1,3,150.0,Mobile
38,20038,0,30,1.0,30.0,Debit Card,Male,2.0,2.0,HNI,2.0,Married,+,NaN,16,1,4,194.0,Mobile
60,20060,0,6,1.0,20.0,Credit Card,Female,3.0,3.0,Regular +,4.0,Divorced,+,NaN,13,0,6,128.0,Mobile
65,20065,0,25,1.0,6.0,Debit Card,Male,3.0,4.0,Regular,3.0,Divorced,+,NaN,14,1,9,300.0,Mobile
88,20088,0,24,1.0,14.0,Debit Card,Male,2.0,NaN,HNI,4.0,Divorced,+,0.0,16,1,7,225.0,Computer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11194,31194,0,16,1.0,37.0,Debit Card,Male,3.0,5.0,Super,3.0,Single,+,NaN,13,4,8,171.0,Computer
11197,31197,0,1,1.0,10.0,Debit Card,Male,3.0,NaN,Super,3.0,Single,+,0.0,15,2,3,175.0,Computer
11203,31203,0,1,1.0,13.0,UPI,Male,3.0,4.0,Regular +,3.0,Married,+,NaN,20,1,3,171.0,Mobile
11227,31227,0,13,1.0,20.0,Debit Card,Male,3.0,4.0,Regular,1.0,Single,+,NaN,15,2,4,325.0,Computer
11247,31247,0,14,1.0,12.0,Credit Card,Female,4.0,4.0,Regular +,3.0,Married,+,NaN,15,1,3,145.0,Mobile

In [35]:
df

,AccountID,Churn,Tenure,City_Tier,CC_Contacted_LY,Payment,Gender,Service_Score,Account_user_count,account_segment,CC_Agent_Score,Marital_Status,rev_per_month,Complain_ly,rev_growth_yoy,coupon_used_for_payment,Day_Since_CC_connect,cashback,Login_device
0,20000,1,4,3.0,6.0,Debit Card,Female,3.0,3.0,Super,2.0,Single,9,1.0,11,1,5,160.00,Mobile
1,20001,1,0,1.0,8.0,UPI,Male,3.0,4.0,Regular Plus,3.0,Single,7,1.0,15,0,0,121.00,Mobile
2,20002,1,0,1.0,30.0,Debit Card,Male,2.0,4.0,Regular Plus,3.0,Single,6,1.0,14,0,3,196.24,Mobile
3,20003,1,0,3.0,15.0,Debit Card,Male,2.0,4.0,Super,5.0,Single,8,0.0,23,0,3,134.00,Mobile
4,20004,1,0,1.0,12.0,Credit Card,Male,2.0,3.0,Regular Plus,5.0,Single,3,0.0,11,1,3,130.00,Mobile
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11255,31255,0,10,1.0,34.0,Credit Card,Male,3.0,2.0,Super,1.0,Married,9,0.0,19,1,4,154.00,Computer
11256,31256,0,13,1.0,19.0,Credit Card,Male,3.0,5.0,HNI,5.0,Married,7,0.0,16,1,8,227.00,Mobile
11257,31257,0,1,1.0,14.0,Debit Card,Male,3.0,2.0,Super,4.0,Married,7,1.0,22,1,4,191.00,Mobile
11258,31258,0,23,3.0,11.0,Credit Card,Male,4.0,5.0,Super,4.0,Married,7,0.0,16,2,9,180.00,Computer
11259,31259,0,8,1.0,22.0,Credit Card,Male,3.0,2.0,Super,3.0,Married,5,0.0,13,2,3,175.00,Mobile

In [36]:
from sklearn.impute import SimpleImputer
import numpy as np
df['rev_per_month'] = df['rev_per_month'].replace('+', np.nan)
# imputer = SimpleImputer(missing_values=np.nan, strategy='median')
# df[['rev_per_month']] = imputer.fit_transform(df[['rev_per_month']])

In [37]:
df[df['rev_growth_yoy']=='$']

,AccountID,Churn,Tenure,City_Tier,CC_Contacted_LY,Payment,Gender,Service_Score,Account_user_count,account_segment,CC_Agent_Score,Marital_Status,rev_per_month,Complain_ly,rev_growth_yoy,coupon_used_for_payment,Day_Since_CC_connect,cashback,Login_device
3127,23127,0,4,3.0,14.0,E wallet,Male,3.0,4.0,Regular Plus,4.0,Single,2,0.0,$,2,3,155.0,Mobile
5837,25837,0,27,1.0,29.0,Debit Card,Female,2.0,3.0,Super,3.0,Single,7,0.0,$,1,3,152.0,Computer
6329,26329,0,15,1.0,41.0,Credit Card,Male,2.0,5.0,Super,2.0,Single,5,0.0,$,1,0,146.0,Mobile

In [38]:
from sklearn.impute import SimpleImputer
import numpy as np
df['rev_growth_yoy'] = df['rev_growth_yoy'].replace('$', np.nan)
# imputer = SimpleImputer(missing_values=np.nan, strategy='median')
# df[['rev_growth_yoy']] = imputer.fit_transform(df[['rev_growth_yoy']])

In [39]:
df[df['Tenure']=='#']

,AccountID,Churn,Tenure,City_Tier,CC_Contacted_LY,Payment,Gender,Service_Score,Account_user_count,account_segment,CC_Agent_Score,Marital_Status,rev_per_month,Complain_ly,rev_growth_yoy,coupon_used_for_payment,Day_Since_CC_connect,cashback,Login_device
12,20012,1,#,1.0,11.0,Cash on Delivery,Male,2.0,3.0,Regular Plus,3.0,Single,2,1.0,13,2,2,134.0,Mobile
15,20015,1,#,2.0,12.0,UPI,Male,3.0,3.0,Regular Plus,5.0,Married,5,1.0,22,1,2,121.0,Mobile
575,20575,1,#,1.0,8.0,Cash on Delivery,Male,2.0,3.0,Regular Plus,3.0,Single,5,0.0,24,1,0,125.0,Mobile
754,20754,0,#,3.0,13.0,E wallet,Male,2.0,1.0,Super,2.0,Married,1,1.0,18,0,9,152.0,Mobile
979,20979,0,#,1.0,15.0,Debit Card,Male,3.0,1.0,Regular Plus,3.0,Married,7,0.0,18,1,0,125.0,Mobile
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10998,30998,0,#,1.0,15.0,Credit Card,Male,3.0,5.0,Super,1.0,Married,5,0.0,17,1,14,170.0,Mobile
11057,31057,0,#,3.0,24.0,Debit Card,Male,3.0,4.0,Super,3.0,Married,7,1.0,16,2,8,170.0,Computer
11150,31150,0,#,1.0,18.0,Credit Card,Female,4.0,2.0,Regular Plus,3.0,Married,12,0.0,14,2,3,169.0,Mobile
11157,31157,0,#,1.0,12.0,Cash on Delivery,Male,3.0,4.0,Regular Plus,4.0,Married,3,0.0,13,1,3,152.0,Mobile
11226,31226,0,#,3.0,19.0,Credit Card,Male,3.0,4.0,Regular Plus,5.0,Single,7,1.0,14,2,3,155.0,Mobile

In [40]:
df['Tenure'] = df['Tenure'].replace('#', np.nan)
# imputer = SimpleImputer(missing_values=np.nan, strategy='median')
# df[['Tenure']] = imputer.fit_transform(df[['Tenure']])

In [41]:
df.head()

,AccountID,Churn,Tenure,City_Tier,CC_Contacted_LY,Payment,Gender,Service_Score,Account_user_count,account_segment,CC_Agent_Score,Marital_Status,rev_per_month,Complain_ly,rev_growth_yoy,coupon_used_for_payment,Day_Since_CC_connect,cashback,Login_device
0,20000,1,4,3.0,6.0,Debit Card,Female,3.0,3.0,Super,2.0,Single,9,1.0,11,1,5,160.00,Mobile
1,20001,1,0,1.0,8.0,UPI,Male,3.0,4.0,Regular Plus,3.0,Single,7,1.0,15,0,0,121.00,Mobile
2,20002,1,0,1.0,30.0,Debit Card,Male,2.0,4.0,Regular Plus,3.0,Single,6,1.0,14,0,3,196.24,Mobile
3,20003,1,0,3.0,15.0,Debit Card,Male,2.0,4.0,Super,5.0,Single,8,0.0,23,0,3,134.00,Mobile
4,20004,1,0,1.0,12.0,Credit Card,Male,2.0,3.0,Regular Plus,5.0,Single,3,0.0,11,1,3,130.00,Mobile

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11260 entries, 0 to 11259
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   AccountID                11260 non-null  int64
 1   Churn                    11260 non-null  int64
 2   Tenure                   11042 non-null  object
 3   City_Tier                11260 non-null  float64
 4   CC_Contacted_LY          11158 non-null  float64
 5   Payment                  11260 non-null  object
 6   Gender                   11152 non-null  object
 7   Service_Score            11162 non-null  float64
 8   Account_user_count       10816 non-null  float64
 9   account_segment          11163 non-null  object
 10  CC_Agent_Score           11144 non-null  float64
 11  Marital_Status           11048 non-null  object
 12  rev_per_month            10469 non-null  object
 13  Complain_ly              10903 non-null  float64
 14  rev_growth_yoy           11257 non-null  object
 15  coupon_used_for_payment  11260 non-null  object
 16  Day_Since_CC_connect     10903 non-null  object
 17  cashback                 11260 non-null  float64
 18  Login_device             11260 non-null  object
dtypes: float64(7), int64(2), object(10)
memory usage: 1.6+ MB

In [43]:
df.isnull().sum()

AccountID                    0
Churn                        0
Tenure                     218
City_Tier                    0
CC_Contacted_LY            102
Payment                      0
Gender                     108
Service_Score               98
Account_user_count         444
account_segment             97
CC_Agent_Score             116
Marital_Status             212
rev_per_month              791
Complain_ly                357
rev_growth_yoy               3
coupon_used_for_payment      0
Day_Since_CC_connect       357
cashback                     0
Login_device                 0
dtype: int64

# Now we are preparing the data for the Model building

In [44]:
df.head()

,AccountID,Churn,Tenure,City_Tier,CC_Contacted_LY,Payment,Gender,Service_Score,Account_user_count,account_segment,CC_Agent_Score,Marital_Status,rev_per_month,Complain_ly,rev_growth_yoy,coupon_used_for_payment,Day_Since_CC_connect,cashback,Login_device
0,20000,1,4,3.0,6.0,Debit Card,Female,3.0,3.0,Super,2.0,Single,9,1.0,11,1,5,160.00,Mobile
1,20001,1,0,1.0,8.0,UPI,Male,3.0,4.0,Regular Plus,3.0,Single,7,1.0,15,0,0,121.00,Mobile
2,20002,1,0,1.0,30.0,Debit Card,Male,2.0,4.0,Regular Plus,3.0,Single,6,1.0,14,0,3,196.24,Mobile
3,20003,1,0,3.0,15.0,Debit Card,Male,2.0,4.0,Super,5.0,Single,8,0.0,23,0,3,134.00,Mobile
4,20004,1,0,1.0,12.0,Credit Card,Male,2.0,3.0,Regular Plus,5.0,Single,3,0.0,11,1,3,130.00,Mobile

In [45]:
df.isnull().sum()

AccountID                    0
Churn                        0
Tenure                     218
City_Tier                    0
CC_Contacted_LY            102
Payment                      0
Gender                     108
Service_Score               98
Account_user_count         444
account_segment             97
CC_Agent_Score             116
Marital_Status             212
rev_per_month              791
Complain_ly                357
rev_growth_yoy               3
coupon_used_for_payment      0
Day_Since_CC_connect       357
cashback                     0
Login_device                 0
dtype: int64

In [46]:
imputer = SimpleImputer(missing_values=np.nan, strategy='median')
df[['CC_Contacted_LY']] = imputer.fit_transform(df[['CC_Contacted_LY']])

In [47]:
df['Gender'].unique()

array(['Female', 'Male', 'F', nan, 'M'], dtype=object)

In [48]:
# sns.countplot(x='Gender', data=df)

# It shows 4 different values in Gender or I add the F-> Female and M->Male

In [49]:
def preprocess_gender(data):
    if data == 'F':
        return 'Female'
    elif data == 'M':
        return 'Male'
    
    else:
        return data

In [50]:
df['Gender'] = df['Gender'].apply(preprocess_gender)
imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
df[['Gender']] = imputer.fit_transform(df[['Gender']])

In [51]:
# sns.countplot(x='Gender', data=df)

In [52]:
df.isnull().sum()

AccountID                    0
Churn                        0
Tenure                     218
City_Tier                    0
CC_Contacted_LY              0
Payment                      0
Gender                       0
Service_Score               98
Account_user_count         444
account_segment             97
CC_Agent_Score             116
Marital_Status             212
rev_per_month              791
Complain_ly                357
rev_growth_yoy               3
coupon_used_for_payment      0
Day_Since_CC_connect       357
cashback                     0
Login_device                 0
dtype: int64

In [53]:
df['coupon_used_for_payment'] = df['coupon_used_for_payment'].replace('$', 0)
df['coupon_used_for_payment'] = df['coupon_used_for_payment'].replace('*', 0)
df['coupon_used_for_payment'] = df['coupon_used_for_payment'].replace('#', 0)

In [54]:
df[df['coupon_used_for_payment']=='#']

Empty DataFrame
Columns: [AccountID, Churn, Tenure, City_Tier, CC_Contacted_LY, Payment, Gender, Service_Score, Account_user_count, account_segment, CC_Agent_Score, Marital_Status, rev_per_month, Complain_ly, rev_growth_yoy, coupon_used_for_payment, Day_Since_CC_connect, cashback, Login_device]
Index: []

In [55]:
df['Day_Since_CC_connect'] = df['Day_Since_CC_connect'].replace('$', np.nan)

In [65]:
num_cols = ['Service_Score', 'Account_user_count','CC_Agent_Score','Complain_ly', 'Day_Since_CC_connect', 'Tenure']

imputer = SimpleImputer(strategy='median')
df[num_cols] = imputer.fit_transform(df[num_cols])

In [57]:
cat_cols = ['account_segment', 'Marital_Status']

imputer = SimpleImputer(strategy='most_frequent')
df[cat_cols] = imputer.fit_transform(df[cat_cols])

In [ ]:
# df.to_csv('preprocessed_data_file.csv', index=False)

In [59]:
# df[df['Account_user_count']=='@']
df['Account_user_count'] = df['Account_user_count'].replace('@', np.nan)

In [60]:
df['Account_user_count'].isnull().sum()

0

In [61]:
df

,AccountID,Churn,Tenure,City_Tier,CC_Contacted_LY,Payment,Gender,Service_Score,Account_user_count,account_segment,CC_Agent_Score,Marital_Status,rev_per_month,Complain_ly,rev_growth_yoy,coupon_used_for_payment,Day_Since_CC_connect,cashback,Login_device
0,20000,1,4,3.0,6.0,Debit Card,Female,3.0,3.0,Super,2.0,Single,9,1.0,11,1,5.0,160.00,Mobile
1,20001,1,0,1.0,8.0,UPI,Male,3.0,4.0,Regular Plus,3.0,Single,7,1.0,15,0,0.0,121.00,Mobile
2,20002,1,0,1.0,30.0,Debit Card,Male,2.0,4.0,Regular Plus,3.0,Single,6,1.0,14,0,3.0,196.24,Mobile
3,20003,1,0,3.0,15.0,Debit Card,Male,2.0,4.0,Super,5.0,Single,8,0.0,23,0,3.0,134.00,Mobile
4,20004,1,0,1.0,12.0,Credit Card,Male,2.0,3.0,Regular Plus,5.0,Single,3,0.0,11,1,3.0,130.00,Mobile
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11255,31255,0,10,1.0,34.0,Credit Card,Male,3.0,2.0,Super,1.0,Married,9,0.0,19,1,4.0,154.00,Computer
11256,31256,0,13,1.0,19.0,Credit Card,Male,3.0,5.0,HNI,5.0,Married,7,0.0,16,1,8.0,227.00,Mobile
11257,31257,0,1,1.0,14.0,Debit Card,Male,3.0,2.0,Super,4.0,Married,7,1.0,22,1,4.0,191.00,Mobile
11258,31258,0,23,3.0,11.0,Credit Card,Male,4.0,5.0,Super,4.0,Married,7,0.0,16,2,9.0,180.00,Computer
11259,31259,0,8,1.0,22.0,Credit Card,Male,3.0,2.0,Super,3.0,Married,5,0.0,13,2,3.0,175.00,Mobile

In [67]:
df.to_csv('model_data_m1.csv',index=False)

In [69]:
z = pd.read_csv('model_data_m1.csv')

In [71]:
z

,AccountID,Churn,Tenure,City_Tier,CC_Contacted_LY,Payment,Gender,Service_Score,Account_user_count,account_segment,CC_Agent_Score,Marital_Status,rev_per_month,Complain_ly,rev_growth_yoy,coupon_used_for_payment,Day_Since_CC_connect,cashback,Login_device
0,20000,1,4.0,3.0,6.0,Debit Card,Female,3.0,3.0,Super,2.0,Single,9.0,1.0,11.0,1,5.0,160.00,Mobile
1,20001,1,0.0,1.0,8.0,UPI,Male,3.0,4.0,Regular Plus,3.0,Single,7.0,1.0,15.0,0,0.0,121.00,Mobile
2,20002,1,0.0,1.0,30.0,Debit Card,Male,2.0,4.0,Regular Plus,3.0,Single,6.0,1.0,14.0,0,3.0,196.24,Mobile
3,20003,1,0.0,3.0,15.0,Debit Card,Male,2.0,4.0,Super,5.0,Single,8.0,0.0,23.0,0,3.0,134.00,Mobile
4,20004,1,0.0,1.0,12.0,Credit Card,Male,2.0,3.0,Regular Plus,5.0,Single,3.0,0.0,11.0,1,3.0,130.00,Mobile
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11255,31255,0,10.0,1.0,34.0,Credit Card,Male,3.0,2.0,Super,1.0,Married,9.0,0.0,19.0,1,4.0,154.00,Computer
11256,31256,0,13.0,1.0,19.0,Credit Card,Male,3.0,5.0,HNI,5.0,Married,7.0,0.0,16.0,1,8.0,227.00,Mobile
11257,31257,0,1.0,1.0,14.0,Debit Card,Male,3.0,2.0,Super,4.0,Married,7.0,1.0,22.0,1,4.0,191.00,Mobile
11258,31258,0,23.0,3.0,11.0,Credit Card,Male,4.0,5.0,Super,4.0,Married,7.0,0.0,16.0,2,9.0,180.00,Computer
11259,31259,0,8.0,1.0,22.0,Credit Card,Male,3.0,2.0,Super,3.0,Married,5.0,0.0,13.0,2,3.0,175.00,Mobile